 <footer class="footer">
         <div class="row large-12">
             <h2 class="slogan">IF WE CAN'T FIX IT, NO ONE CAN.</h2>

             <div class="small-6 medium-8 column">
                 <div class="row">
                     <ul class="medium-3 column">
                         <li><strong>Services</strong></li>
                         <li><a href="/tech-support">Tech Support</a></li>
                         <li><a href="/fix-and-repairs">Repairs</a></li>
                     </ul>

                     <ul class="medium-3 column">
                         <li><strong>SuperGeeks</strong></li>
                         <li><a href="/about">About</a></li>
                         <li><a href="/contact">Contact</a></li>
                     </ul>

                      <ul class="medium-3 column">
                         <li><a href="/why-choose-us">Why Choose Us</a></li>
                         <li><a href="/safety-and-security">Safety &amp; Security</a></li>
                     </ul>

                     <ul class="medium-3 column">
                         <li><a href="/privacy-policy">Privacy Policy</a></li>
                         <li><a href="/terms-and-conditions">Terms &amp; Condition</a></li>
                     </ul>
                </div>
                </div>

                <ul class="small-6 medium-4 social-icons column end">
                    <li><strong>Connect with us</strong></li>
                    <li>
                         <a href="{twitter_link}" title="Supergeeks on Twitter"><span class="icon-twitter"></span></a>
                         <a href="{facebook_link}" title="Supergeeks on facebook"><span class="icon-facebook"></span></a>
                         </li>
                     </ul>
            </div>

         <div class="copyright row">
             <div class="medium-12">
                 &copy; 2014 SuperGeeks Ltd. All Rights Reserved.
             </div>
         </div>
     </footer>
    
      

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="/assets/js/app.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
  </body>
</html>