<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {exp:nsm_better_meta:template}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300">
     <link rel="stylesheet" href="assets/css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body>
      <div class="header-container"><div class="header row">
        <a href="/" title="SuperGeeks - If we can't fix it no one can">
        <div class="SGLogo medium-3 medium-centered large-uncentered large-4 column">

            <img src="/assets/img/supergeeks-logo.png" alt="SuperGeeks - If we can't fix it, no one can">
            
            <h1>SuperGeeks</h1>

            <h2>If We can't fix it, no one can</h2>
        </div></a>

        <!--Main navigation Begins-->

        <div class="medium-10 large-8 column end">
          <div class="row">

            <div class="quick-contact column end">
              <h4>0815 092 GEEK (4335)</h4>  

              <a href="{facebook_link}" title="SuperGeeks on Facebook"><span class="icon-facebook"></span></a>

              <a href="{twitter_link}" title="SuperGeeks on Twitter"><span class="icon-twitter"></span></a>
            </div>

             <nav class="SGNav column end">
              <ul>
                  <li><a href="/SGP"><img src="/assets/img/SGP-gadget-protection.svg" alt="SuperGeeks Gadget Protection" width="120"></a></li>
                  <li><a href="/tech-support">Tech Support</a></li>
                  <li><a href="/fix-and-repairs">Repairs</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
          </nav>
          </div>
          
        </div>
        <!--Main navigation ends-->
      </div>
      </div>